body {
    background-color: tan;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: brown;
    border-width: 5px;
    width: 5%;
}

h1 {color: brown;}

h3 {color: brown;}

.business-descriptor {
    background-color: tan;
}

.travel {
    background-color: cadetblue;
}

.my-story {
    background-color: tan;
}

/*   this is a comment */